.sidebar {
    border: 1px solid black;
    height: 100vh;
    flex: 20%;
    background: #000;
    color: #fff;
    min-width: 230px;
    padding: 0 10px 10px 30px;
}
.sidebar__logo {
    width: 80%;
    overflow: hidden;
    margin-top: 1rem;
}

.sidebar__title {
    font-size: 12px;
    padding: 5px;
    margin-left: 10px;
}

.sidebar > hr {
    border: 1px solid #808080;
    width: 90%;
    margin: 10px auto;
}

