.sidebarNav{
    color: #808080;
    height: 40px;
    cursor: pointer;
    transition: 180ms color ease-in;
    display: flex;
    align-items: center;

}
.sidebarNav:hover{
    color: white;
}
.sidebar__icon{
    padding-right: 1rem;
}

.sidebar__playlist {
    margin: 10px 0 0 10px;
    font-size: 14px;
}