.body {
    /* border: 1px solid red; */
    flex: 80%;
    height: 95vh;
    color: #fff;
    overflow-y: overlay; ;
    background: linear-gradient(0deg, rgba(34,33,33,1) 49%, rgba(153,152,156,1) 100%);
    padding-bottom: 30px;
}
.body::-webkit-scrollbar {
    display: none;
  }

.playlist__img {
    width: 220px;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
}

.playlist__info {
    display: flex;
    align-items: flex-end;
    /* border: 1px solid red; */
    margin: 4rem;
}
.playlist__content {
    /* overflow: hidden; */
    width: 60%;
}
.playlist__content > h2 {
    font-size: 4vw;
    padding: 10px 0 10px 0;
}
.playlist__des {
    display: flex;
    font-size: 14px;
}
.playlist__des-songs{
    margin-left: 10px;
}
.listSong__list{
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0.356)
}