.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.login > img {
    width: 70%;
}

.login > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    background-color: #1db954;
}